* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 211, 225);
}

div{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 80px;
  color: rgb(88, 36, 36);
  font-family: 'Gluten', cursive;

}
header {
  background-color: rgb(236, 236, 236);
  width: 960px;
  color: darkgray; 
  margin:auto;

}

a {
  text-decoration: none;
  color: rgb(88, 36, 36);
  font-family: 'Gluten', cursive;
}

header nav {
  padding: 1rem 0 30px 0;
  display: flex;
  align-items: center; 
  color: darkgray;
  font-size: 23px;
}

main,
header nav {
  margin: 0 auto;
  width: 960px;
  color: rgb(66, 65, 65);

}

main>img{
  margin-bottom: 30px;
}

section>img{
  margin-bottom: 30px;
}

header ul {
  /* display: inline-block; */
  margin-left: 1rem;
  align-items: space-between;
  display: flex;
  gap: 100px;

}

header ul li {
  /* display: inline-block;*/
  align-items: stretch;

}

header ul li a {
  padding: .5rem;

}

main > section{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;

}

main article {
  float: right;
  width: 480px;
  padding: 1rem 0 30px 1rem;
}

h3{
  color: rgb(88, 36, 36);
  font-size: 40px;
  font-family: 'Beth Ellen', cursive;
}
main article section{
  overflow: scroll;
  height: 270px;
  padding: 0 0 30px 0;
  margin-bottom: 25px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

main article a{
  border: 1px solid black;
  background-color: rgb(220, 232, 245);
  color:black;
  padding: 10px 60px;
  border-radius: 200px;
  
  font-family: 'Itim', cursive;
}

main article a:hover{
  background-color: grey;
  align-items: flex-end;
  background-color: beige;
}

footer {
  background-color: rgb(236, 236, 236);
  width: 960px;
  height: 100px;
  padding: 1rem;
  margin:auto;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

footer nav {
  width: 960px;
  padding: 1rem;

}

td{
  font-size: 25px;
  border: 1px solid black;
}

table {
  background-color: rgb(197, 197, 153);
  border: 1px solid black;
  table-layout:auto;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1{
  font-style: italic;
  text-align: center;
}


p {
  font-family: 'Itim', cursive;
}